<div class="half-sidebar">
    <ul class="list-group mt-3 text-center">
      <button class="list-item" [ngClass]="colorTheme">
        <img src="{{home}}" alt="" />
        <p class="iconName">Home</p>
      </button>
      <button class="list-item" [ngClass]="colorTheme">
        <img src="{{shorts}}" alt="" />
        <p class="iconName">Shorts</p></button
      ><button class="list-item" [ngClass]="colorTheme">
        <img src="{{subscription}}" alt="" />
        <p class="iconName">Subscription</p>
      </button>
      <button class="list-item" [ngClass]="colorTheme">
        <img src="{{you}}" alt="" />
        <p class="iconName">You</p>
      </button>
    </ul>
  </div>