<div class="container-fluid">
  <div class="row h-100 d-flex">
    <div class="col">
      <ul class="list-group list-group-horizontal  justify-content-evenly ">
        <button class="w-100 ">
          <img src="{{home}}" alt="Home" />
        </button>
        <button class="w-100">
          <img src="{{shorts}}" alt="Shorts" /></button>
          <button class="w-100">
          <img src="{{createPlus}}" alt="Create" /></button>
        <button class="w-100">
          <img src="{{subscription}}" alt="Subscription" /></button>
        <button class="w-100">
          <img src="../../assets/commonImages/youtubeLogo.svg" alt="you" /></button>
        
      </ul>
    </div>
  </div>
</div>
